@inject IJSRuntime _jsRuntime

<div class="out-element-click @Class"
     id="@HtmlId"
     @attributes="InputAttributes"
     @ref="Element"
     @onclick="async (x) => { AllowRender = false; await OnClick.InvokeAsync(x); AllowRender = true; }">
    @ChildContent
</div>

@code{
    [Parameter]
    public string HtmlId { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback OnClickOut { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }
    [Parameter]
    public List<string> ExcludedHTMLElementIDs { get; set; }

    public ElementReference Element { get; private set; }
    bool AllowRender = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _jsRuntime.InvokeVoidAsync("OutClickComponent.setEvent", Element, DotNetObjectReference.Create(this), ExcludedHTMLElementIDs);
        }
    }

    [JSInvokable]
    public async Task ClickOut()
    {
        AllowRender = false;
        await OnClickOut.InvokeAsync(null);
        AllowRender = true;
    }

    public void Review()
    {
        StateHasChanged();
    }

    protected override bool ShouldRender()
    {
        return AllowRender;
    }
}