@inherits Al.BlazorCustomRefreshComponent.RefreshComponent

@inject IJSRuntime _jsRuntime

<div class="out-element-click @Class"
     id="@HtmlId"
     @attributes="InputAttributes"
     @ref="Element"
     @onclick="x => OnClick.InvokeAsync(x)">
    @ChildContent
</div>

@code{
    [Parameter]
    public string HtmlId { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback OnClickOut { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }
    [Parameter]
    public List<string> ExcludedHTMLElementIDs { get; set; }

    protected override bool CustomRefresh => true;

    public ElementReference Element { get; private set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            _jsRuntime.InvokeVoidAsync("OutClickComponent.setEvent", Element, DotNetObjectReference.Create(this), ExcludedHTMLElementIDs);
        }
    }

    [JSInvokable]
    public Task ClickOut()
    {
        return OnClickOut.InvokeAsync(null);
    }

}