@page "/"
<button id="@ButtonOutId" @ref="ButtonOut">ButtonOut</button>

<BlazorClickOutside OnClickOut="ClickOutHandler1"
                    ExcludedHTMLElementIDs="new List<string> { ButtonOutId }">
    <div>Counter: @Counter1</div>
    <button @onclick="() => Counter1 ++">+</button>
</BlazorClickOutside>


<BlazorClickOutside OnClickOut="ClickOutHandler2">
    <div>Counter: @Counter2</div>
    <button @onclick="() => Counter2 ++">+</button>
</BlazorClickOutside>

@code {
    ElementReference ButtonOut;
    BlazorClickOutsideComponent.BlazorClickOutside outside;

    string ButtonOutId = "123";
    int counter1 = 0;
    int Counter1
    {
        get
        {
            return counter1;
        }
        set
        {
            counter1 = value;
        }
    }
    int counter2 = 0;
    int Counter2
    {
        get
        {
            return counter2;
        }
        set
        {
            counter2 = value;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    void ClickOutHandler1()
    {
        var a = 1;
    }
    void ClickOutHandler2()
    {
        var a = 1;
    }
}