@page "/"
<button id="@ButtonOutId">ButtonOut</button>

<BlazorClickOutside OnClickOut="ClickOutHandler1"
                    ExcludedHTMLElementIDs="ExcludedIDs"
                    OnClick="OnClickHandler1">
    <div>Counter: @Counter1</div>
    <button @onclick="() => Counter1 ++">+</button>

    <BlazorClickOutside OnClickOut="ClickOutHandler2">
        <div>Counter: @Counter2</div>
        <button @onclick="() => Counter2 ++">+</button>
    </BlazorClickOutside>
</BlazorClickOutside>


@code {

    string ButtonOutId = "123";
    List<string> ExcludedIDs;
    int counter1 = 0;
    int Counter1
    {
        get
        {
            return counter1;
        }
        set
        {
            counter1 = value;
        }
    }
    int counter2 = 0;
    int Counter2
    {
        get
        {
            return counter2;
        }
        set
        {
            counter2 = value;
        }
    }

    protected override void OnInitialized()
    {
        ExcludedIDs = new List<string> { ButtonOutId };
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    async void ClickOutHandler1()
    {
        var a = 1;
    }
    async void ClickOutHandler2()
    {
        var a = 1;
    }

    async void OnClickHandler1()
    {
        var a = 1;
    }
}